@font-face {
    font-family: 'Verdana';
    src: url('static/css/fonts/verdana/Verdana.eot');
    src: local('Verdana'),
    url('static/css/fonts/verdana/Verdana.eot?#iefix') format('embedded-opentype'),
    url('static/css/fonts/verdana/Verdana.woff') format('woff'),
    url('static/css/fonts/verdana/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('static/css/fonts/verdana/Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'),
    url('static/css/fonts/verdana/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('static/css/fonts/verdana/Verdana-Bold.woff') format('woff'),
    url('static/css/fonts/verdana/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.login-form {
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.login-form__content{
    background-color: deepskyblue;
    min-width: 350px;
    width: 25%;
    min-height: 300px;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.login-form__title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 28px;
    color: white;
    margin: 5px;
}

.login-form__label-username,
.login-form__label-password {
    font-family: Verdana;
    font-weight: normal;
    font-size: 24px;
    color: black;
}

.login-form__input-username,
.login-form__input-password {
    border: none;
    width: 300px;
    padding: 5px;

    font-family: Verdana;
    font-weight: normal;
    font-size: 20px;
    color: black;
}

.login-form__button-submit {
    width: 310px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: none;
    margin: 20px 0 5px 0;

    font-family: Verdana;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.login-form__link-registration {
    margin: 0 0 20px 0;

    font-family: Verdana;
    font-weight: normal;
    font-size: 12px;
    color: darkblue;
}